#map {
  border: 1px solid black;
  width: 700px;
  height: 500px;
}

#completed .completed-button {
  visibility: hidden;
}

li {
  display: flex;
  flex-wrap: nowrap;
  /* padding: 100px; */
}

p {
  /* padding: 20px; */
  width: 75px;
}
